@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: 50, 94, 84; 
  --secondary-color: 218, 252, 114; 
  --tertiary-color: 255, 111, 0;
  --accent-color: white;
  --accent-color-2: 255, 196, 230;
  --title-font: "Oswald", sans-serif;
  --title-weight: 400;
  --body-font: "Playfair Display", serif;
}
header{
  background-color: var(--accent-color);
  display: flex; 
  padding: 1.5rem;
  color: rgb(var(--primary-color));
  font-family: var(--title-font);
  font-size: 2rem;
}
#top-header{
  display: flex;
  justify-content: space-between;
}

.siteName{
  position: relative;
  font-family: var(--title-font);
  margin: 0 0 0 0 ;
}
.siteName a{
  color: rgb(rgb(var(--primary-color)));
}
#tools{
  text-align: right;
  position: relative; 

  font-size: 1rem;

}
#tools a{
  color: #944000; 
}

 h1, h2, h3{
  font-family: var(--title-font);
  color: rgb(var(--primary-color));
  padding: 1rem;
  font-weight: var(--title-weight)
}
p, button{
  font-family: var(--body-font);
}
a{
  text-decoration: none;
  padding: 1rem;
}
ul{
  padding: 0px;
}
li{
  list-style-type: none;
  font-family: var(--body-font);
}
nav a, nav a:link, nav a:visited, nav a:hover, nav a:active {
  color: rgb(var(--accent-color-2))
}
input:required:invalid, input:focus:invalid {
  background-color: rgba(255, 0, 0, 0.16);
 }
nav li{
  margin: auto; 
  padding: 1rem;
}
html{
  background-image: url(/images/site/checkerboard.jpg);
}
body{
  background-color: var(--accent-color);
  border:5px solid rgb(var(--secondary-color));
  border-radius: 10px;
  margin: 0px;
  max-width: 98%;
}
nav{
  background-color: rgb(var(--primary-color)); 
  color: rgb(var(--secondary-color)); 
  font-family: var(--body-font);
  flex-wrap: wrap;
}
nav ul{
  display: block;
  padding: 0px;
}
button{
  background-color: rgb(var(--accent-color-2));
  color: rgb(var(--primary-color));
  border-radius: 5px; 
  padding: 1rem;
  border: none;
  margin: auto;
}
.footer{
  padding: 1rem;
}

.error-message{
  color:red;
  font-weight: bold;
  margin: 1rem; 
  border: 5px solid red;
  border-radius: 5px;
}

.hero-index{
  background-image: url(/images/vehicles/delorean.jpg);
  background-size: contain;
  color: rgb(var(--tertiary-color));
  background-repeat: no-repeat;
}
.car-details{

  background-color: rgba(255, 255, 255, 0.9);
  max-width: 300px; 
  margin: 1rem 1rem 1rem ;
  max-width: fit-content;
  padding: 1rem;
}
.car-details h2{
  padding: 0px; 
  margin: 0px;
}
.upgrade-cards{

  display: grid; 
  grid-template-columns: 1fr 1fr;
}
.card{
  background-color: rgb(var(--primary-color)); 
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  max-width: 80%;
  padding: 1rem;
  margin: 1rem auto 1rem auto;
  box-shadow: 10px 10px 10px 0px rgba(232,180,180,0.75);
  border-radius:10px;
  text-align: center;
}
.card img{
  max-width: 75px; 
  margin: auto;
}
.card a{
  color: var(--accent-color);
  font-family: var(--body-font);
  
}
.reviews{
  margin: 0px 1rem 0px 1rem; 
}
.reviews ul{
  padding: 1rem;
}
.reviews li{
  list-style-type: circle;
  padding: 1rem; 

}

.detail{
  background-color: rgb(var(--tertiary-color));
  color: #1E3832;
  padding: 1rem; 
  margin: 1rem;
}
.detail-info{
  max-width: none;
}
.item-details h2{
  font-size: 2rem; 
}
#login, #register{
  background-color: rgba(var(--secondary-color), 0.2);
  border-radius: 20px; 
  padding: 1rem;
  margin: auto; 
  display: grid;
}
label{
  color: rgb(var(--primary-color));
  padding-left: 1rem;
}
input{
  margin: 1rem;
  padding: .5rem;
  border: 2px solid rgb(var(--tertiary-color));
  border-radius: 30px;
}
.entry{
  display: block;
}
.loginmsg{
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  body{
    max-width: 70%;
    margin: auto;
  }
 
.index-info{
  display: flex;
  margin: auto;
}
.product-info{
  display: flex;
  order: -1; 
}
.reviews{
  order: 1; 
}
.hero-index{
  margin: auto; 
  max-width: 60%;
}
.card{
  margin: 1rem;
  max-width: none;
}
.item-info{

  max-width: 80%;

}

.item-info{
  display: grid;;
  grid-template-columns:1fr 1fr ;
  max-width: none;
  margin: auto;
}

.item-info img{
  grid-area: 1/1/2/2;
  margin: auto;
}
.detail-info {
  grid-area: 1/2/2/3;
  max-width: 80%;

}
.entry{
  display: grid;
  

}
input{
  margin: 1rem 0rem 1rem 3rem;
}
}
@media only screen and (min-width: 900px) {
nav ul{
  display: flex;
 
}
input{
  margin: 1rem 40% 1rem 3rem;
}
}