<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <h1>Server Error</h1>
<% } %>
<h1>OOPS!</h1>
<% if (message) { %>
    <p><%= message %></p>
<% } else { %>
    <p>This is awkward! You've encountered an error!</p>
<% } %>



